<div class="program-details-container">
  <div *ngIf="!loading && !program" class="no-program-message">
    <p>No program found.</p>
  </div>

  <div *ngIf="loading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading && program" class="details-content">
    <div class="header">
      <h1>{{ program.title.en | titlecase }}</h1>
    </div>
    <div class="button-group">
      <button mat-flat-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back to Programs
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="openUpdateDetailsForm(program)"
        class="update-button"
      >
        <mat-icon>edit</mat-icon>
        Update Program
      </button>
      <button mat-flat-button color="primary" (click)="deleteProgram()">
        <mat-icon>delete</mat-icon>
        Remove This Program
      </button>
    </div>
    <div class="cards-row">
      <mat-card>
        <mat-card-content>
          <div>
            <h3>Total Duration</h3>
            <p>{{ program.totalDuration }} Hours</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div>
            <h3>Level</h3>
            <p>{{ program.level.en | titlecase }}</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <div>
            <h3>Associated Courses</h3>
            <p>{{ program.courseDetails?.length || 0 }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="details-card">
      <mat-card-content>
        <h2>Program Details</h2>
        <div class="detail-item">
          <span class="label">Category:</span>
          <span>{{ program.category.en | titlecase }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Language:</span>
          <span>{{ program.language | titlecase }}</span>
        </div>
        <div class="detail-item">
          <span class="label">Description:</span>
          <p>{{ program.description.en }}</p>
        </div>
        
        <div class="associated-courses">
          <h3>Associated Courses</h3>
          <ng-container *ngIf="program.courseDetails?.length; else noCourses">
            <mat-list>
              <mat-list-item *ngFor="let course of program.courseDetails">
                <span>
                  {{ course.title.en || 'Untitled Course' }}
                </span>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="removeCourseFromProgram(course._id)"
                  *ngIf="course._id"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </ng-container>
          <ng-template #noCourses>
            <p>No courses associated with this program</p>
          </ng-template>
          <div class="add-course-form">
            <mat-form-field appearance="outline">
              <mat-label>Add Course</mat-label>
              <mat-select [(ngModel)]="selectedCourseId">
                <mat-option
                  *ngFor="let course of unassociatedCourses"
                  [value]="course._id"
                >
                  {{ course.title.en ||  course._id  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              (click)="addCourseToProgram()"
              [disabled]="!selectedCourseId"
            >
              Add Course
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #updateDetailsDialog>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Program</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="updateForm"
        (ngSubmit)="updateProgram()"
        class="program-form-grid"
      >
        <div class="grid-container">
          <div>
            <div formGroupName="title">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Title (EN)</mat-label>
                <input matInput formControlName="en" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Title (AR)</mat-label>
                <input matInput formControlName="ar" />
              </mat-form-field>
            </div>
            <div formGroupName="slug">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Slug (EN)</mat-label>
                <input matInput formControlName="en" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Slug (AR)</mat-label>
                <input matInput formControlName="ar" />
              </mat-form-field>
            </div>
            <div formGroupName="description">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description (EN)</mat-label>
                <textarea matInput formControlName="en"></textarea>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description (AR)</mat-label>
                <textarea matInput formControlName="ar"></textarea>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Thumbnail URL</mat-label>
              <input matInput formControlName="thumbnail" />
            </mat-form-field>
          </div>
          <div>
            <div formGroupName="level">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Level (EN)</mat-label>
                <mat-select formControlName="en">
                  <mat-option value="beginner">Beginner</mat-option>
                  <mat-option value="intermediate">Intermediate</mat-option>
                  <mat-option value="advanced">Advanced</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Level (AR)</mat-label>
                <mat-select formControlName="ar">
                  <mat-option value="مبتدئ">مبتدئ</mat-option>
                  <mat-option value="متوسط">متوسط</mat-option>
                  <mat-option value="متقدم">متقدم</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Language</mat-label>
              <mat-select formControlName="language">
                <mat-option value="en">English</mat-option>
                <mat-option value="ar">Arabic</mat-option>
              </mat-select>
            </mat-form-field>
            <div formGroupName="category">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Category (EN)</mat-label>
                <input matInput formControlName="en" />
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Category (AR)</mat-label>
                <input matInput formControlName="ar" />
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Total Duration</mat-label>
              <input matInput type="number" formControlName="totalDuration" />
            </mat-form-field>
          </div>
        </div>
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="updateForm.invalid"
          >
            Update
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>